#the-whiteboard-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  pointer-events: none;
}

#main-overlay-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include until($tablet) {
    flex-direction: row;
  }
}
