@use 'bulma/sass/utilities/mixins';
@use 'bulma/sass/utilities/initial-variables';

$tool-button-side-length: 2.5em;
$toolbar-widescreen-margin-bottom: 1em;
$toolbar-widescreen-height: $tool-button-side-length +
  $toolbar-widescreen-margin-bottom;

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;

  @include mixins.from(initial-variables.$tablet) {
    width: 100%;
    margin-bottom: $toolbar-widescreen-margin-bottom;
  }

  @include mixins.until(initial-variables.$tablet) {
    padding: 0.8rem;
  }

  .tool-button {
    width: $tool-button-side-length;
    height: $tool-button-side-length;
    pointer-events: auto;
  }

  .tool-button:not(:focus) {
    box-shadow: 0 0 0.5em -0.125em rgba(10, 10, 10, 0.1);
  }

  .tools {
    display: flex;
    gap: 0.2rem;

    @include mixins.until(initial-variables.$tablet) {
      flex-direction: column;
      justify-content: end;
    }
  }
}
