@use 'bulma/sass/utilities/mixins';
@use 'bulma/sass/utilities/initial-variables';

#sidebar {
  min-width: 20rem;
  pointer-events: auto;
  border-radius: unset;

  #copy-button {
    width: 100%;
  }

  @include mixins.until(initial-variables.$tablet) {
    width: 100%;
    position: absolute;
  }
}
