@import '~/bulma/sass/utilities/_all.sass';
@import '~/bulma/sass/base/_all.sass';
@import '~/bulma/sass/helpers/typography.sass';
@import '~/bulma/sass/helpers/spacing.sass';
@import '~/bulma/sass/components/navbar.sass';
@import '~/bulma/sass/elements/button.sass';

html {
  height: 100%;
  overflow-y: unset;
  overflow-x: unset;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
