@import '~/bulma/sass/utilities/_all.sass';
@import '~/bulma/sass/base/_all.sass';
@import '~/bulma/sass/helpers/_all.sass';
@import '~/bulma/sass/components/navbar.sass';
@import '~/bulma/sass/elements/button.sass';
@import '~/bulma/sass/elements/box.sass';
@import '~/bulma/sass/elements/progress.sass';

@import './elements/all';

html {
  height: 100%;
  overflow-y: unset;
  overflow-x: unset;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
